
/**
 * ToDoListAlpine CSS - v1.0
 * ---------------------------------------------------------------
 * @author necro_txilok
 */


:focus-visible {
	outline: 2px solid #007aff;
}

body {
	font-family: arial, helvetica, sans-serif;
	background-color: #000;
	color: #fff;
	margin: 40px;
	text-align: center;
}

button {
	background-color: #333;
	color: #fff;
	padding: 12px 26px;
	border: none;
	border-radius: 6px;
	box-shadow: 0px 4px 0px #151515;
	position: relative;
	top: -2px;
	cursor: pointer;
}
button:active {
	top: 0;
	box-shadow: none;
}

button.primary {
	background-color: #005add;	
}
button.danger {
	background-color: #aa2222;
}
button.green {
	background-color: #009d00;	
}

input {
	padding: 12px;
	border: none;
	border-radius: 6px;
	margin-right: 6px;
	width: 30px;
	background-color: #333;
	color: #fff;
}
input[type="checkbox"] {
	width: 26px;
	height: 26px;
	border: none;
	position: relative;
	top: 4px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li {
	margin: 10px 0;
}

a {
	color: #fff;
}

/* To Do List */

.bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.pattern-bg {
	background-image: url('../img/bg.png');
	background-attachment: fixed;	
}
.light-bg {
	background-image: url('../img/light.png');
	background-size: cover;	
}

.content {
	position: relative;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	width: 600px;
	box-sizing: border-box;
}

.panel {
	position: relative;
	background: rgba(0,0,0,0.5);
	padding: 40px;
	border-radius: 20px;
	margin-bottom: 40px;
}
.panel h1,
.panel h4 {
	margin-top: 0;
}

.bottom-panel {
	position: relative;
	background: rgba(0,0,0,0.5);
	padding: 16px;
	margin: 40px 0;
	border-radius: 20px;
	margin-bottom: 40px;
	font-size: 10px;
}

.inline-form {	
	background-color: #222;
	padding: 10px;
	border-radius: 6px;
	display: flex;
	flex-direction: row;
}
.inline-form input {
	margin-right: 10px;
}
.inline-form input[type="text"] {
	flex: 1;
}

.empty-space {
	padding: 100px;
}